<header class="main-header">
  <div class="wrapper" role="navigation">
    <nav class="group product-nav">
      <h1>
        <a href="{{site.baseurl}}/" class="highlite">
          <span role="banner" itemprop="brand" class="ir">Bohemian Coding</span>
          <span itemprop="name">Sketch</span> <small class="version-3">3</small>
        </a>
      </h1>
      <span class="nav-toggle">Menu</span>
      <ul class="group">
        <li><a href="{{site.baseurl}}/reference">Reference</a></li>
        <li><a href="{{site.baseurl}}/samples">Code Examples</a></li>
        <li><a href="{{site.baseurl}}/about">About</a></li>
      </ul>
    </nav>
  </div>
</header>
