/* @group About us */
.team {
	margin-top: 5.625rem; /*90px*/
	margin-bottom: -2.8125rem; /*45px*/
}

.team li {
	margin-bottom: 2.8125rem; /*45px*/
}

.team li:nth-child(2n+1) {
	margin-left: 0;
}

.team h3 {
	margin-top: 0;
}

.team small {
	font-size: 1rem;
	font-style: italic;
}

	.team small::before {
		content: "- ";
	}

.contact-us h2 {
	margin-top: 0;
}
/* @end */
