/* @group Main Footer */
.product > section + footer {
	background: #fff;
}

.product > section:nth-child(even):last-of-type + footer {
	background: #f8f9fa;
}

.main-footer > .wrapper {
	padding: 2.8125rem .625rem; /*45px 10px*/
}

.support > .main-footer small {
	color: hsla(0, 100%, 100%, .8);
}

.main-footer {
	text-align: right;
	small {
		font-size: 1rem;
		float: left;
	}
	ul {
		display: inline;
		li {
			margin-left: 2.5rem; /*40px*/
		}
	}
}

.product > .main-footer a {
	color: #4084d0;
	&:hover,
	&:focus {
		color: #31649e;
	}
}
/* @end */
