@include tablet-and-above {
  .main-nav li > a {
    padding: .2625rem 0; //to compensate there's no buy button here
  }
}

.developer .content img {
  max-width: 100%;
  height: auto;
}

//Inverting site's logic
body > section {
  background-color: $background-light;
  box-shadow: inset 0 -1px 0 $border-dark;
}

body > section:nth-child(odd) {
  background-color: $background-light-dark;
}

body > section ~ footer {
  background: $background-light;
}

body > section:nth-child(even):last-of-type ~ footer {
  background: $background-light-dark;
}

//Contribute pill
.page-contribute {
  margin-top: 3rem;
  padding: 1rem;
  background: $background-light-dark;
  border: 1px solid $border-dark;
  border-radius: $radius-small;
  font-size: .8125rem;
  color: $text-dark-ultra-low;
}

.page-contribute em {
  float: right;
  margin-left: 1rem;
}

//Tables
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: $radius-small;
  border: 1px solid $border-dark-high;
  background-color: rgba( $action , .05 );
  box-shadow: 0 1px 2px $border-dark;
  color: $text-dark;
}

td {
  width: 50%;
  padding: 1rem;
  border-bottom: 1px solid $border-dark;
  //border-right: 1px solid $border-dark;
  vertical-align: top;
}

  // td:last-child {
  //   border-right: 0;
  // }

  // FIXME It's inserting more trs than it should
  tr:nth-last-child(2) td {
    border-bottom: 0;
  }

// External links
.content a[href^="http://"]:not([href*="sketchapp.com"]):after,
.content a[href^="https://"]:not([href*="sketchapp.com"]):after {
   content: "\21F1"; //⇱
   display: inline-block;
   margin-left: .25rem;
   font-size: .75rem;
   vertical-align: top;
   transform: scaleX(-1); //Flipping, as this char doesn't exist that way
}

.developer .content footer {
  margin-top: 3rem;
  padding-top: 2.5rem;
  border-top: 1px solid $border-dark;
}

.developer .content footer .h5 {
  margin: 0 0 1rem;
}
