// body.sketch.treehouse styles are defined in _home.scss
body.treehouse {
  //.button-th { padding-top: 1.5em; }
  // .why,
  // .why .wrapper {
  //   padding-bottom: 0;
  //   margin-bottom: 0;
  // }
  // .why {
  //   img.left { float: left; }
  //   img.right { float: right; }
  // }
  // .wrapper.extra { margin-top: 2em; }
  // .two-cols::before,
  // .two-cols::after {
  //   content: none;
  //   background: none;
  //}
}
