/**
 * Syntax highlighting styles
 */
$spacing-unit: 2rem;
/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit;
}

.highlight {
  @extend %vertical-rhythm;

  .hll { background-color: #003f8e; }

  .c { color: #7285b7; }

  /* Comment */
  .err { color: #ff9da4; }

  /* Error */
  .k { color: #ebbbff; }

  /* Keyword */
  .l { color: #ffc58f; }

  /* Literal */
  .n { color: #ffffff; }

  /* Name */
  .o { color: #99ffff; }

  /* Operator */
  .p { color: #ffffff; }

  /* Punctuation */
  .cm { color: #7285b7; }

  /* Comment.Multiline */
  .cp { color: #7285b7; }

  /* Comment.Preproc */
  .c1 { color: #7285b7; }

  /* Comment.Single */
  .cs { color: #7285b7; }

  /* Comment.Special */
  .gd { color: #ff9da4; }

  /* Generic.Deleted */
  .ge { font-style: italic; }

  /* Generic.Emph */
  .gh { color: #ffffff; font-weight: bold; }

  /* Generic.Heading */
  .gi { color: #d1f1a9; }

  /* Generic.Inserted */
  .gp { color: #7285b7; font-weight: bold; }

  /* Generic.Prompt */
  .gs { font-weight: bold; }

  /* Generic.Strong */
  .gu { color: #99ffff; font-weight: bold; }

  /* Generic.Subheading */
  .kc { color: #ebbbff; }

  /* Keyword.Constant */
  .kd { color: #ebbbff; }

  /* Keyword.Declaration */
  .kn { color: #99ffff; }

  /* Keyword.Namespace */
  .kp { color: #ebbbff; }

  /* Keyword.Pseudo */
  .kr { color: #ebbbff; }

  /* Keyword.Reserved */
  .kt { color: #ffeead; }

  /* Keyword.Type */
  .ld { color: #d1f1a9; }

  /* Literal.Date */
  .m { color: #ffc58f; }

  /* Literal.Number */
  .s { color: #d1f1a9; }

  /* Literal.String */
  .na { color: #bbdaff; }

  /* Name.Attribute */
  .nb { color: #ffffff; }

  /* Name.Builtin */
  .nc { color: #ffeead; }

  /* Name.Class */
  .no { color: #ff9da4; }

  /* Name.Constant */
  .nd { color: #99ffff; }

  /* Name.Decorator */
  .ni { color: #ffffff; }

  /* Name.Entity */
  .ne { color: #ff9da4; }

  /* Name.Exception */
  .nf { color: #bbdaff; }

  /* Name.Function */
  .nl { color: #ffffff; }

  /* Name.Label */
  .nn { color: #ffeead; }

  /* Name.Namespace */
  .nx { color: #bbdaff; }

  /* Name.Other */
  .py { color: #ffffff; }

  /* Name.Property */
  .nt { color: #99ffff; }

  /* Name.Tag */
  .nv { color: #ff9da4; }

  /* Name.Variable */
  .ow { color: #99ffff; }

  /* Operator.Word */
  .w { color: #ffffff; }

  /* Text.Whitespace */
  .mf { color: #ffc58f; }

  /* Literal.Number.Float */
  .mh { color: #ffc58f; }

  /* Literal.Number.Hex */
  .mi { color: #ffc58f; }

  /* Literal.Number.Integer */
  .mo { color: #ffc58f; }

  /* Literal.Number.Oct */
  .sb { color: #d1f1a9; }

  /* Literal.String.Backtick */
  .sc { color: #ffffff; }

  /* Literal.String.Char */
  .sd { color: #7285b7; }

  /* Literal.String.Doc */
  .s2 { color: #d1f1a9; }

  /* Literal.String.Double */
  .se { color: #ffc58f; }

  /* Literal.String.Escape */
  .sh { color: #d1f1a9; }

  /* Literal.String.Heredoc */
  .si { color: #ffc58f; }

  /* Literal.String.Interpol */
  .sx { color: #d1f1a9; }

  /* Literal.String.Other */
  .sr { color: #d1f1a9; }

  /* Literal.String.Regex */
  .s1 { color: #d1f1a9; }

  /* Literal.String.Single */
  .ss { color: #d1f1a9; }

  /* Literal.String.Symbol */
  .bp { color: #ffffff; }

  /* Name.Builtin.Pseudo */
  .vc { color: #ff9da4; }

  /* Name.Variable.Class */
  .vg { color: #ff9da4; }

  /* Name.Variable.Global */
  .vi { color: #ff9da4; }

  /* Name.Variable.Instance */
  .il { color: #ffc58f; }
}

code > span {
  text-shadow: none;
}
