/*Basic link styles*/
a {
  text-decoration: none;
  color: $action-high;
  transition: color .1s ease-out, border-color .1s ease-out, background-color .1s ease-out, background-image .1s ease-out;
  font-weight: 400;
  -webkit-tap-highlight-color: rgba( $action-high, .08 );
  &:hover,
  &:active,
  &:focus { color: $action; }
}

a.highlight {
  color: $text-light;

  &.highlight:hover,
  &.highlight:focus { color: $text-light-high; }

  &.highlight:active,
  &.highlight.active { color: $text-light-high; }
}

.text-dark-link a,
a.text-dark-link {
  display: block;
  color: $text-dark-high;
}

// TODO make sure this affects all the elements. Still have my doubts
a * {
  transition: all .1s ease-out;
}

// TODO see if I can find a more elegant solution for this
a:hover h1,
a:active h1,
a:focus h1,
a:hover h2,
a:active h2,
a:focus h2,
a:hover h3,
a:active h3,
a:focus h3,
a:hover h4,
a:active h4,
a:focus h4,
a:hover h5,
a:active h5,
a:focus h5,
a:hover h6,
a:active h6,
a:focus h6, {
  color: $action-high;
  small {
    color: $action-high;
  }
}

a > p,
a > q {
  font-weight: $font-light;
}

a .h4 {
  margin-bottom: 1rem;
}

// a img {
//   transition: transform .1s ease-out;
//   &:hover,
//   &:active,
//   &:focus { transform: scale(1.025); }
// }
