section.buy .col {
  position: relative;
}

section.buy .h2 {
  margin-bottom: 1rem;
  font-weight: $font-regular;
}

@include desktop {
  /*Hairline separator*/
  section.buy .col:last-of-type::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -2.8%; /*Half a gap = 28px*/
    width: 1px;
    background: linear-gradient(180deg,
      hsla(0, 0%, 90%, 0),
      hsla(0, 0%, 90%, 1) 50%,
      hsla(0, 0%, 90%, 0) 100%) 2%;
  }
}

@include tablet-and-below {
  section.buy {
    text-align: center;
  }

  section.buy .button {
    display: block;
  }
}
