/*TOC navigation*/
@include tablet-and-above {
  .toc-nav {
    margin-top: 1rem;
  }

  .nav-toggle {
    display: inline-block;
  }

  .toc-nav header {
    position: relative;
  }

  .search-toggle {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    float: right;
    margin-top: .4rem;
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Fill 853</title><path d="M12 0C5.373 0 0 5.373 0 12c0 6.628 5.373 12 12 12s12-5.372 12-12c0-6.627-5.373-12-12-12zm6.34 18.346c-.214.212-.5.316-.78.316h-.003c-.32 0-.643-.13-.89-.376l-3.58-3.58c-.787.494-1.72.78-2.715.78-2.817 0-5.102-2.283-5.102-5.1 0-2.818 2.285-5.103 5.102-5.103s5.1 2.285 5.102 5.103c0 .99-.285 1.918-.775 2.7l3.583 3.585c.245.247.374.57.374.89 0 .283-.1.57-.318.786zM10.37 7.54c-1.568.002-2.842 1.278-2.845 2.846.003 1.567 1.277 2.842 2.845 2.845 1.567-.002 2.842-1.277 2.845-2.844-.003-1.568-1.278-2.844-2.845-2.846" fill="#207CDF" fill-rule="evenodd"/></svg>');
    -webkit-transition: -webkit-filter .1s ease-out;
    transition: filter .1s ease-out;
    &:hover,
    &:active,
    &:focus {
      //http://stackoverflow.com/questions/29037023/how-to-calculate-required-hue-rotate-to-generate-specific-colour
      -webkit-filter: hue-rotate(1deg) saturate(117%) brightness(105%);
      filter: hue-rotate(1deg) saturate(117%) brightness(105%);
    }
  }
}

.toc-nav h1 {
  margin-bottom: 1.125rem;
}

.toc-nav h2,
.toc-nav nav > ol > li {
  font-size: 1rem;
  line-height: 1.73125rem; //27.7px
  font-weight: $font-regular;
  margin: 0;
  padding: 0
}

  @include tablet-and-above {
    .toc-nav li:not(:first-child) h2,
    .toc-nav nav > ol > li:not(:first-child) {
      margin: .25rem 0; //4px
    }
  }

.toc-nav a.active {
  color: $text-dark-high;
}

/*Active triangle indicator*/
.toc-nav a.active::before {
  content: "\2023";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin-left: -.65rem;
  margin-right: .25rem;
  font-size: 1.2rem;
}

.toc-nav li {
  max-width: 100%;
  //padding-left: .25rem; /*4px*/
  overflow: hidden;
  text-overflow: ellipsis;
  display: list-item;
  font-size: .8125rem; //13px
  line-height: 1.23125rem; //19.7px
}

  @include tablet-and-above {
    .toc-nav li {
      margin: .125rem 0; //2px
    }
  }

@include tablet-and-below {
  .toc-nav {
    margin: -2.5rem -.5rem 0;
    padding: .594rem 1rem;
    width: calc(100% + 1rem); //fucking hack
    border: 1px solid $border-dark-high;
    border-radius: $radius-normal;
  }

  .toc-nav ol {
    display: none;
  }

  .toc-nav li {
    line-height: 1.5;
  }

  .toc-nav h2,
  .toc-nav ol ol a {
    display: block;
    padding: .5rem 0;
  }

  .toc-nav .nav-toggle {
    display: block;
    cursor: pointer;
    position: relative;
    font-size: .875rem; //14px
    margin: -.594rem -1rem;
    padding: .594rem 1rem;
  }

    .toc-nav .nav-toggle.active {
      border-bottom: 1px solid $divider-dark;
      margin-bottom: 1rem;
    }

  .toc-nav .nav-toggle::after {
    float: right;
    top: .7rem;
    border-top-color: $text-dark-high;
  }

  .toc-nav .nav-toggle.active::after {
    top: .7rem;
    border-bottom-color: $text-dark-high;
  }
}
