/*TOC navigation*/
.search-toggle {
  background-image: url('data:image/svg+xml;utf-8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Oval 1</title><path d="M13.46 14.39c-.78.586-1.748.933-2.8.933-2.573 0-4.66-2.087-4.66-4.66C6 8.086 8.087 6 10.66 6c2.575 0 4.662 2.087 4.662 4.662 0 1.05-.348 2.02-.935 2.8.075.035.144.082.205.143l3.2 3.2c.275.275.28.717.004.992-.273.273-.72.27-.992-.003l-3.2-3.2c-.062-.06-.11-.13-.143-.205zM12 24c6.627 0 12-5.373 12-12S18.627 0 12 0 0 5.373 0 12s5.373 12 12 12zm-1.34-9.61c2.06 0 3.73-1.67 3.73-3.728 0-2.06-1.67-3.73-3.73-3.73-2.058 0-3.728 1.67-3.728 3.73s1.67 3.73 3.73 3.73z" fill="#207CDF" fill-rule="evenodd"/></svg>');
  -webkit-transition: -webkit-filter .1s ease-out;
  transition: filter .1s ease-out;
  &:hover,
  &:active,
  &:focus {
    //http://stackoverflow.com/questions/29037023/how-to-calculate-required-hue-rotate-to-generate-specific-colour
    -webkit-filter: hue-rotate(1deg) saturate(117%) brightness(105%);
    filter: hue-rotate(1deg) saturate(117%) brightness(105%);
  }
}


@include tablet-and-above {
  .toc-nav {
    margin-top: 1rem;
  }

  .nav-toggle {
    display: inline-block;
  }

  .toc-nav header {
    position: relative;
  }

  .search-toggle {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    float: right;
    margin-top: .4rem;
  }
}

.toc-nav h1 {
  margin-bottom: 1.125rem;
}

.toc-nav h2,
.toc-nav nav > ol > li {
  font-size: 1rem;
  line-height: 1.73125rem; //27.7px
  font-weight: $font-regular;
  margin: 0;
  padding: 0
}

  @include tablet-and-above {
    .toc-nav li:not(:first-child) h2,
    .toc-nav nav > ol > li:not(:first-child) {
      margin: .25rem 0; //4px
    }
  }

.toc-nav a.active {
  color: $text-dark-high;
}

/*Active triangle indicator*/
.toc-nav a.active::before {
  content: "\2023";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin-left: -.65rem;
  margin-right: .25rem;
  font-size: 1.2rem;
}

.toc-nav li {
  max-width: 100%;
  //padding-left: .25rem; /*4px*/
  overflow: hidden;
  text-overflow: ellipsis;
  display: list-item;
  font-size: .8125rem; //13px
  line-height: 1.23125rem; //19.7px
}

  @include tablet-and-above {
    .toc-nav li {
      margin: .125rem 0; //2px
    }
  }

@include tablet-and-below {
  .toc-nav {
    margin: -2.5rem -.5rem 0;
    padding: .594rem 1rem;
    width: calc(100% + 1rem); //fucking hack
    border: 1px solid $border-dark-high;
    border-radius: $radius-normal;
    position: relative;
  }

  .toc-nav ol {
    display: none;
  }

  .toc-nav li {
    line-height: 1.5;
  }

  .toc-nav h2,
  .toc-nav ol ol a {
    display: block;
    padding: .5rem 0;
  }

  .toc-nav .nav-toggle {
    display: block;
    width: calc(100% - .5rem);
    cursor: pointer;
    position: relative;
    font-size: 1rem;
    margin: -.625rem -1rem -.5625rem;
    padding: .5rem 1rem .5625rem;
  }

  .toc-nav .nav-toggle::after {
    border-top-color: $text-dark-high;
  }

  .toc-nav .nav-toggle.active::after {
    border-bottom-color: $text-dark-high;
  }

  .search-toggle {
    width: 2.75rem;
    height: 2.75rem;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    background-position: center center;
  }

  .toc-nav nav.active {
    margin-top: .5625rem;
    // border-top: 1px solid $divider-dark;
    padding-top: .5rem;
    position: relative;
  }

  .toc-nav nav.active::before {
    content: "";
    display: block;
    width: calc(100% + 2rem);
    height: 1px;
    background: $divider-dark;
    position: absolute;
    top: 0;
    left: -1rem;
  }

  .toc-nav a.active::before {
    line-height: 1;
  }

    .toc-nav nav > ol > li > a.active::before {
      margin-top: .25rem;
    }
}
