<!doctype html>
<html lang="en">
{% include head.html %}
<body class="developer">
{% include header.html %}
{{content}}
{% include footer.html %}
<div class="overlay"></div>
<div class="search-form  hide">
  <form action="" method="get" accept-charset="utf-8" autocomplete="off" autocorrect="off" autocapitalize="off">
    <div class="span-6">
      <input type="search" name="yo" placeholder="Search" value="" class="search-field"/>
      <nav class="search-results"></nav>
    </div>
  </form>
</div>
{% include scripts.html %}
</body>
</html>
