---
layout: base
---
<section class="sidebar">
  <div class="wrapper">
    <div class="row">
      <aside class="col span-3 toc-nav" role="complementary">
        <h1 class="h3 nav-toggle">Contents</h1>
        <nav role="navigation">
          <ol>
            {% if page.url contains '/introduction/' %}
                {% for introduction in site.introduction %}
                  <li><a href="{{introduction.url}}">{{introduction.title}}</a></li>
                {% endfor %}
            {% endif %}
            {% if page.url contains '/code-examples/' %}
                {% for example in site.code-examples %}
                  <li><a href="{{example.url}}">{{example.title}}</a></li>
                {% endfor %}
            {% endif %}
            {% if page.url contains '/reference/' %}
              <li>
                <h2>Classes</h2>
                <ol>
                  {% for class in site.reference %}
                  <li><a href="{{class.url}}">{{ class.title }}</a></li>
                  {% endfor %}
                </ol>
              </li>
            {% endif %}
          </ol>
        </nav>
      </aside>
      <article class="col span-9" role="main">
        <h1>{{ page.title }}</h1>
        {{ content }}

        {% if page.inherits or page.rels %}
        <footer>
          <h1 class="h4">See also…</h1>
          {% if page.inherits %}
          <h2 class="h5">Inherits from:</h2>
          <ul>
            {% for inherit in page.inherits %}
            <li><a href="/reference/{{inherit}}/">{{ inherit }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}

          {% if page.rels %}
          <h2 class="h5">Related classes:</h2>
          <ul>
            {% for rel in page.rels %}
            <li><a href="/reference/{{rel}}/">{{ rel }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}

          {% if page.pages %}
          <h2 class="h5">Related content:</h2>
          <ul>
            {% for rel in page.pages %}
            <li><a href="{{rel.path}}">{{ rel.name }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}

        </footer>
        {% endif %}

        <!-- <div>
          {% if page.previous != nil %}
          Previous
          {% endif %}

          {% if page.next %}
          Next
          {% endif %}
        </div> -->
        
        {% include contribute.html %}
      </div>
      </article>
    </div>
  </div>
</section>

{% include scripts.html %}
<script>
$(function(){
  $(".toc-nav a").each(function(){
    if ($(this).prop('href') == window.location.href) {
            $(this).addClass('active');
        }
  });
});
</script>
