html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: $font-light 16px/1.5 "Aktiv-Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif; //1.48125
  color: $text-dark-high;

  // Enabling kerning and optional ligatures
  text-rendering: optimizeLegibility;
}

@include tablet-and-below {
  .display-1,
  .masthead h1 {
    font-size: 3.0625rem; /*49px*/
    line-height: 3.1875rem; /*51px*/
    margin: 3rem 0; /*48px*/
  }

  h1, .h1 {
    font-size: 2.4375rem; /*39px*/
    line-height: 2.6875rem; /*43px*/
    margin: 3rem 0; /*48px*/
  }

  h2, .h2 {
    font-size: 1.859375rem; /*29.75px*/
    line-height: 2.20625rem; /*35.3px*/
    margin: 2.5rem 0; /*40px*/
  }

  h3, .h3 {
    font-size: 1.3125rem; /*21px*/
    line-height: 1.71875rem; /*27.5px*/
    margin: 2rem 0; /*32px*/
  }

  h4, .h4,
  h1:not([class]) + p {
    font-size: 1.09375rem; /*17.5px*/
    line-height: 1.7125rem; /*27.4px*/
    margin: 2rem 0; /*32px*/
  }

  h5, .h5 {
    font-size: .823529412rem; /*14px*/
    line-height: 1.23125rem; /*19.7px*/
    margin: 2rem 0; /*32px*/
  }

  h6, .h6 {
    font-size: .75rem; /*12px*/
    line-height: 1.23125rem; /*19.7px*/
    margin: 2rem 0; /*32px*/
    text-transform: uppercase;
  }
}

@include tablet-and-above {
  .display-1,
  .masthead h1 {
    font-size: 3.5rem; /*56px*/
    line-height: 3.4375rem; /*55px*/
    margin: 3rem 0; /*48px*/
  }

  h1, .h1 {
    font-size: 2.8125rem; /*45px*/
    line-height: 2.9375rem; /*47px*/
    margin: 3rem 0; /*48px*/
  }

  h2, .h2 {
    font-size: 2.125rem; /*34px*/
    line-height: 2.45625rem; /*39.3px*/
    margin: 2.5rem 0; /*40px*/
  }

  h3, .h3 {
    font-size: 1.5rem; /*24px*/
    line-height: 1.96875rem; /*31.5px*/
    margin: 2rem 0; /*32px*/
  }

  h4, .h4,
  h1:not([class]) + p {
    font-size: 1.25rem; /*20px*/
    line-height: 1.7125rem; /*27.4px*/
    margin: 2rem 0; /*32px*/
  }

  h5, .h5 {
    font-size: 1rem; /*16px*/
    line-height: 1.48125rem; /*23.7px*/
    margin: 2rem 0; /*32px*/
  }

  h6, .h6 {
    font-size: .75rem; /*12px*/
    line-height: 1.23125rem; /*19.7px*/
    margin: 2rem 0; /*32px*/
    text-transform: uppercase;
  }
}

/*Basic heading styles*/
display-1,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  letter-spacing: -0.0125em;
}

display-1,
h1, .h1,
h2, .h2 {
  font-weight: $font-light;
}

h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
strong {
  font-weight: $font-regular;
}

display-1:first-child,
h1:first-child, .h1:first-child,
h2:first-child, .h2:first-child,
h3:first-child, .h3:first-child,
h4:first-child, .h4:first-child,
h5:first-child, .h5:first-child,
h6:first-child, .h6:first-child {
  margin-top: 0;
}

p,
ul, ol,
pre,
blockquote {
  margin: 0 0 2rem; //32px
}

p {
  word-wrap: break-word;
}

ul, ol {
  list-style-position: outside;
  margin-top: 0;
  padding-left: 1.2em;
  &.row,
  &.row { padding-left: 0; }
}

ul {
  list-style-type: square;
}

pre code,
article blockquote {
  display: block;
  padding: 1rem; /*16px*/
  border-radius: $radius-small;
}

blockquote {
  font-style: italic;
  position: relative;
  &::before {
    content: "\201F";
    position: absolute;
    left: -1ex;
  }
}

article blockquote {
  background: $divider-dark;
  color: $text-dark;
  border-left: .125rem solid $border-dark-high;
  &::before {
    display: none;
  }
}

article blockquote > * {
  margin-left: -.125rem; //Compensating
}

q {
  font-style: italic;
}

q::before {
  content: "\201C";
  margin-left: -.6ex;
}

q::after {
  content: "\201D";
}

code, kbd {
  padding: .0625em .25em; //1px 4px
  border-radius: $radius-small;
  white-space: pre-wrap; /*Keeping the current text without crappy overflows*/
  overflow-wrap: break-word; /*Preventing ultra long stuff to overflow the container*/
  font-weight: $font-regular;

  background-color: $text-dark;
  box-shadow: inset 0 -.125rem 0 $border-dark-high;
  color: $text-light-high;
  text-shadow: 0 1px 0 $border-dark-high;
}

code {
  font-family: "Source Code Pro", Consolas, Menlo, monospace;
  font-size: .8125em;
}

kbd {
  font-family: inherit;
}

small {
  display: block;
  font-size: .8125rem; //13px
  line-height: .98125rem; //15.7px
  color: $text-dark-ultra-low;
}
