/* Light */
@font-face {
  font-family: 'Aktiv-Grotesk';
  font-weight: 300;
  font-style: normal;
  src: url('webfonts/aktivgrotesk-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Aktiv-Grotesk';
  font-weight: 300;
  font-style: italic;
  src: url('webfonts/aktivgrotesk-lightitalic-webfont.woff') format('woff');
}

/* Regular */
@font-face {
  font-family: 'Aktiv-Grotesk';
  font-weight: 400;
  font-style: normal;
  src: url('webfonts/aktivgrotesk-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Aktiv-Grotesk';
  font-weight: 400;
  font-style: italic;
  src: url('webfonts/aktivgrotesk-italic-webfont.woff') format('woff');
}
